

<div class="logo">
    <img src="../../assets/logo.svg" alt="">
    <h2>Experience</h2>
</div>

<div class="nav">
    <!-- <a routerLink="/home">Home</a>
    <a routerLink="/movies" (click)="getPage('Movies')">Movies</a>
    <a routerLink="/movies" (click)="getPage('Cartoons')">Cartoons</a>
    <a routerLink="/movies" (click)="getPage('TV series')">TV series</a>
    <a routerLink="/movies" (click)="getPage('Animated series')">Animated series</a>
    <a routerLink="/movies" (click)="getPage('Dorama')">Dorama</a>
    <a routerLink="/movies" (click)="getPage('My List')">My List</a> -->
    <a *ngFor="let ctgr of getCategories()" 
        routerLink="{{ ctgr.router }}" 
        [ngClass]="ctgr.picked ? 'active-ctgr' : 'nonactive-ctgr'"
        (click)="setCategory(ctgr.title)">
        {{ ctgr.title }}
    </a>
</div>

<div class="log-out-btn">
    <button routerLink="/account">Log out</button>
</div>