
<div id="account">
    <div class="acc-top-bar">
        <span>
            <img src="../../../assets/logo.svg" alt="">
            <h2>Experience</h2>
        </span>
        <span>
            <button class="active" routerLink="/login">
                Login
            </button>
            <button class="notactive" routerLink="/account">
                Sing up
            </button>
        </span>
    </div>

    <div class="acc-info">
        <h1>Log in</h1>
        <h6>Complete all fields to sign in to your account.</h6>
        <span>
            <input class="acc-info-input" placeholder="Username">
            <img src="../../assets/user.svg" alt="">
        </span>
        <!-- <span>
            <input class="acc-info-input" placeholder="Email Address">
            <img src="../../assets/mail.svg" alt="">
        </span> -->
        <span>
            <input class="acc-info-input" placeholder="Password" type="password">
            <img src="../../assets/eye.svg" alt="">
        </span>
        <button class="active-button" routerLink="/home">Log in</button>
        <h3>Or</h3>
        <h6>Log in with...</h6>
    </div>

    <div class="acc-singup-with">
        <button>
            <img src="../../assets/apple_logo.svg" alt="">
            <p>Log in with Apple</p>
        </button>
        <button>
            <img src="../../assets/facebook-logo.svg" alt="">
            <p>Log in with Facebook</p>
        </button>
        <button>
            <img src="../../assets/google_logo.svg" alt="">
            <p>Log in with Google</p>
        </button>
    </div>

    <div class="acc-already">
        <p>Don't have an account yet? Please <a routerLink="/account">Sing up.</a></p>
    </div>

</div>