

<app-top-bar></app-top-bar>

<div class="details">
    <div class="movie">
        <div class="player">
            <h2>Movies</h2>
            <span class="flash-player"></span>
        </div>
        <div class="about">
            <h2>Name of the movie</h2>
            <span>
                <p>2020</p>
                <p>2 h. 30 min.</p>
                <p>12+</p>
            </span>
            <span>
                <p>USA</p>
                <p>genre</p>
                <p>genre</p>
                <p>genre</p>
            </span>
            <div class="description">
                <h3>About movie</h3>
                <span></span>
            </div>
        </div>
    </div>
    <div class="rating">
        7.0
    </div>
</div>