

<app-top-bar></app-top-bar>

<!-- <div class="details">
    <div class="movies">
        <div class="player">
            <h2>Movies</h2>
            <span class="flash-player"></span>
        </div>
        <div class="about">
            <h2>{{ film.name }}</h2>
            <span>
                <p>2020</p>
                <p>2 h. 30 min.</p>
                <p>12+</p>
            </span>
            <span>
                <p>USA</p>
                <p>genre</p>
                <p>genre</p>
                <p>genre</p>
            </span>
            <div class="description">
                <h3>About movie</h3>
                <span>
                    <p>{{ film.description }}</p>
                </span>
            </div>
        </div>
    </div>
    <div class="rating">
        {{ film.rating }}
    </div>
</div> -->

<div class="about">
    <h1>{{ film.name }}</h1>
    <div class="about-movie">
        <div class="about-left">
            <img src="{{ film.image }}" alt="movie img">
            <p><b>Rating:</b> {{ film.rating }}</p>
            <img src="../../assets/rating.svg" alt="rating">
        </div>
        <div class="about-right">
            <h2 class="about-centered">About movie</h2>
            <span class="about-centered">
                <p><b>Data:</b> {{ film.year }}</p>
                <p><b>Directed by:</b> {{ film.directed_by }}</p>
                <p><b>Film company:</b> {{ film.company }}</p>
            </span>
            <span class="about-centered">
                <p><b>Movie duration:</b> {{ film.during }}</p>
                <p><b>Age rating:</b> {{ film.rating }}</p>
                <p><b>Country:</b> {{ film.country }}</p>
            </span>
            <div class="description">
                <h3>About description</h3>
                <span>
                    <p>{{ film.description }}</p>
                </span>
            </div>
        </div>
    </div>
</div>