

<div class="acc-top-bar">
    <span>
        <img src="../../../assets/logo.svg" alt="">
        <h2>Experience</h2>
    </span>
    <span>
        <button>Login</button>
        <button>Sing up</button>
    </span>
</div>

<div class="acc-info">
    <h1>Sing up</h1>
    <h6>Fill all field for create an account.</h6>
    <span>
        <input class="acc-info-input" placeholder="Username">
        <img src="../../assets/user.svg" alt="">
    </span>
    <span>
        <input class="acc-info-input" placeholder="Email Address">
        <img src="../../assets/mail.svg" alt="">
    </span>
    <span>
        <input class="acc-info-input" placeholder="Password" type="password">
        <img src="../../assets/eye.svg" alt="">
    </span>
    <button class="active-button">Sing Up</button>
    <h3>Or</h3>
    <h6>Sign up with...</h6>
</div>

<div class="acc-singup-with">
    <button>
        <img src="../../assets/apple_logo.svg" alt="">
        <p>Sing up with Apple</p>
    </button>
    <button>
        <img src="../../assets/facebook-logo.svg" alt="">
        <p>Sing up with Facebook</p>
    </button>
    <button>
        <img src="../../assets/google_logo.svg" alt="">
        <p>Sing up with Google</p>
    </button>
</div>

<div class="acc-already">
    <p>Already have an account? Please <a href="">Log in.</a></p>
</div>